# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: beta-xcode6.1

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "fcnqr0NWPx2hwpgOHb+/erUY2LGGe57glrS6auoWShj61oAMHK/GRVefNZ5UDGOPtdjV0tS8yV9i1d285I32FovCU3Pr6dn1rF+qPVijGqzueCaH4Lv9SuFLsnzUqFGXlc6vQy4sws3wWWizjBIycttZunrQ+aKy5ezMlD9SGrE1c4iNX68hoeVnqUzPvmgt/vW5Y9BazDYmmYZKH0P0r2Ka/e3+mo9gFdq9DPC/UPdIDXN26T8vvu9N4/74epsgAtKymdSa3LDrvgj8NPfYHSda3KVs2g4nEO4tdeJ1CS6XcZ2Yql8C6srvoHfE9VqIPJx2xqP315GqKPzx1y/VGg3u4pE9E43OzOCCy5VA4cvIdYbJudJCNx0CQtfIsEFm01uyToXabFPbs6tZaSdegtOnk/wJtgPHlS3U5dkYMagE11Lkr4y5YQS63uQEyjQAwKKOLKqfqzPHNHknGwjekmnMe3vOXXtuW3dWN6r3ZscWWf9k/GrBlpQ8okkBSlT1QOYRzcrPd0YikAJeswf+K9c2WS70GqBUC+GE2PuweYxq3VxVtxdcxZm2zWCFXGSlPJaQ3Nohw3nja2CUTT0BnilUOJBn3iOq1BlQkhkUz0IgBp2QSnE3uwcQaE91NsmU2f/3ys43TdYP3UPqv/oqqfWlKokZB1653PLrVgmIskM="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

      # install conda-build 2.x to build with a long prefix
      conda install --yes --quiet conda-build=2
      conda info

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
  # inspect the prefix lengths of the built packages
  - conda inspect prefix-lengths /Users/travis/miniconda3/conda-bld/osx-64/*.tar.bz2
